@model MatikoWebAppProject.Models.Products

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Name);
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/StyleItem.css" rel="stylesheet" />

<div class="images">
    <img src=@Html.DisplayFor(model => model.ImageUrl) />
</div>

<div class="product">
    <p>
        @Html.DisplayFor(model => model.Gender)
        //
        @ViewBag.productscategoryName
        //
        @Html.DisplayFor(model => model.color)

    </p>
    <h1>
        @Html.DisplayFor(model => model.Name)
    </h1>

    <div class=star-rate>
        @if (ViewBag.rate == 0)
        {
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        }
        @if (ViewBag.rate == 1)
        {
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        }
        @if (ViewBag.rate == 2)
        {
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        }
        @if (ViewBag.rate == 3)
        {
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        }
        @if (ViewBag.rate == 4)
        {
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        }
        @if (ViewBag.rate == 5)
        {
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        }
    </div>

    <h2>
        $@Html.DisplayFor(model => model.Price)
    </h2>
    <p class="pick">CHOOSE SIZE</p>
    <div class="sizes">
        @{
            string sizes = ViewBag.productscategorySizes;
            string[] sizesarr = sizes.Split();
        }
        @for (int i = 0; i < sizesarr.Length; i++)
        {
            <button class="size" onclick="clickSize()" value="@(sizesarr[i])">
                @sizesarr[i]
            </button>
        }

    <script>
        function clickSize() {
                $(this).toggleClass('focus').siblings().removeClass('focus');
                @ViewBag.sizeselected=$(this).value;
        }
    </script>
    </div>

    <div class="buttons">
        <button class="add" asp-action="AddToCartAsync" asp-route-id="@(Model.Id)">Add to Cart</button>
        <button class="like"><span>♥</span></button>
    </div>
</div>

