@* @model IEnumerable<MatikoWebAppProject.Models.Orders> *@
@* @model IEnumerable<MatikoWebAppProject.Models.ProductsOrders> *@


@model IEnumerable<MatikoWebAppProject.Models.Products>



@{ ViewData["Title"] = "Cart";
    Layout = "_Layout";

    float total = 0;
    Boolean isDiscounted = false;


}

<link rel="stylesheet" href="~/css/StyleCart.css" type="text/css" />

<link href="~/css/StyleCart.css" rel="stylesheet" />

<div class="titles">
    <h2>
        SHOPPING CART
    </h2>
</div>

<hr class="solid">

<p style="text-align: center; margin-bottom: -40px;">@(Model.Count()) items are in your Cart</p>

<div class="small-container">
    <div class="row">
        @for (int i = 0; i < Model.Count(); i++)//int i = 0 ....
        {
            <div class="col-4">
                <div class="wrapper">
                    <div class="top">
                        <img src="@(Model.ElementAt(i).ImageUrl)" />
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <div class="details" onclick="GoToItem(@(Model.ElementAt(i).Id))">
                                <p class="name">@(Html.DisplayFor(modelItem => Model.ElementAt(i).Name))</p>
                                <p class="price">$@(Html.DisplayFor(modelItem => Model.ElementAt(i).Price))</p>
                                <p class="name"><b>size:</b> @(ViewBag.popo[i].Size)</p>
                                <p class="name">
                                    <b>quantity:</b>@ViewBag.popo[i].Amount

                                    @{
                                        float am = ViewBag.popo[i].Amount;
                                        float pr = Model.ElementAt(i).Price;
                                        float total1 = am * pr;
                                        // total += total1;

                                    }
                                </p>
                            </div>
                            <a class="inside" asp-controller="Orders" asp-action="Cart" asp-route-products=@Model.ElementAt(i).Id asp-route-size="" asp-route-isAddition="0">
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function GoToItem(itemid) {
        window.location.href = '/Products/Details/' + itemid;
    }
</script>

@* To Here*@

<hr class="solid">
<div class="titles">



    <div class="totals">
        <div class="discount-code">
            <label for="discode">Discount Code:</label>
            <input type="text" id="hagis" name="fname"><br>
            <input type="button" class="btn btn-mine shop-item-button" onclick="myFunction()" value="Apply">
            <p id="demo"></p>
            <p id="demo2"></p>
            <a asp-controller="Orders" asp-action="Help" hidden="true">Recaculate</a>


            <script>
                function myFunction() {
                    var letter = document.getElementById("hagis").value;
                    if (letter === "HEMI") {
                        document.getElementById("demo").innerHTML = "You have 30% off";
                        document.getElementById("ppp").hidden = false;

                    }
                    else {
                        document.getElementById("demo").innerHTML = "Wrong code";

                    }


                }
            </script>
        </div>


        <div class="totals-item">
            <label>Subtotal</label>
            <div class="totals-value" id="cart-subtotal">$@ViewBag.subtotal</div>
        </div>
        <div class="totals-item">
            <label>Tax (5%)</label>
            <div class="totals-value" id="cart-tax">$@(Math.Round(ViewBag.subtotal*0.05, 2))</div>
        </div>
        <div class="totals-item">
            <label>Shipping</label>
            @if (ViewBag.subtotal != 0)
            {
                <div class="totals-value" id="cart-shipping">15.00</div>
            }
            else
            {
                <div class="totals-value" id="cart-shipping">0.00</div>
            }

        </div>
        <div class="totals-item totals-item-total">
            <label>Grand Total</label>
            @{ total += Math.Round(ViewBag.subtotal * 0.05f, 2);
                if (isDiscounted == true)
                    total = (float)(total * 0.7);
                if (total != 0)
                    total += ViewBag.subtotal + 15.00f;
            }

            <div class="totals-value" id="cart-total">$@total</div>

            <br></br>
            <div class="final-price" id="ppp" hidden="true">
                <label class="final-price"> Final Price: $@(Math.Round(total*0.7, 2))</label>
            </div>

        </div>


    </div>
    @*
        @Html.ActionLink("Checkout", "Cart3", "Orders", new { foo = new[] { 1, 2 }, size = new[] { "XL", "L" }, total = new[] { 3, 5 } }, null)
    *@

    @if (ViewBag.subtotal != 0)
    {<a asp-controller="Orders" asp-action="Cart3" asp-route-total=@total asp-route-id=@ViewBag.pp type="button" class="btn btn-mine shop-item-button">Checkout</a>}

</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/forCart.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}