@model MatikoWebAppProject.Models.Users

@{ ViewData["Title"] = "EditUser";
    Layout = "_Layout"; }

<link rel="stylesheet" href="~/css/edituser.css" type="text/css" />



@*
    <head>
        <script>
        function myFunction() {
        @Context.User.Claims.ElementAt(0).Value = document.getElementById("FullName").textContent;
        @Context.User.Claims.ElementAt(1).Value = document.getElementById("Email").textContent;
        @Context.User.Claims.ElementAt(2).Value = document.getElementById("Phone").textContent;
        @Context.User.Claims.ElementAt(4).Value = document.getElementById("Address").textContent;
        @Context.User.Claims.ElementAt(5).Value = document.getElementById("City").textContent;
        @Context.User.Claims.ElementAt(6).Value = document.getElementById("ZipCode").textContent;
        @Context.User.Claims.ElementAt(7).Value = document.getElementById("Country").textContent;
            }
        </script>



    </head>
*@
<body>
    <form asp-action="Edit" method="post" name="form" class="login_form">
        <div class="container">
            <div class="main-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                    <div class="mt-3">
                                        <h4>@Context.User.Claims.ElementAt(0).Value</h4>
                                        <p class="text-secondary mb-1">@Context.User.Claims.ElementAt(1).Value</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">First Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="FirstName" asp-for="FirstName" name="firstname" class="form-control" value="@Context.User.Claims.ElementAt(9).Value">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Last Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="LastName" asp-for="LastName" name="lastname" class="form-control" value="@Context.User.Claims.ElementAt(10).Value">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0" hidden>Email</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="hidden" id="Email" asp-for="Email" name="email" class="form-control" value=@Context.User.Claims.ElementAt(1).Value>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="Phone" asp-for="PhoneNumber" name="phonenumber" class="form-control" value=@Context.User.Claims.ElementAt(2).Value>
                                    </div>
                                </div>
                                @*
            new Claim(ClaimTypes.Name, account.FirstName + " " + account.LastName),
        new Claim(ClaimTypes.Email, account.Email),
        new Claim(ClaimTypes.MobilePhone, account.PhoneNumber),
        new Claim(ClaimTypes.Role, account.Type.ToString()),
        new Claim(ClaimTypes.StreetAddress, account.Address),
        new Claim(ClaimTypes.StateOrProvince, account.City),
        new Claim(ClaimTypes.PostalCode, account.ZipCode.ToString()),
        new Claim(ClaimTypes.Country, account.Country),
                                *@
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="Address" asp-for="Address" name="address" class="form-control" value=@Context.User.Claims.ElementAt(4).Value>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">City</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="City" asp-for="City" name="city" class="form-control" value=@Context.User.Claims.ElementAt(5).Value>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Country</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="Country" asp-for="Country" name="country" class="form-control" value=@Context.User.Claims.ElementAt(7).Value>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Zip Code</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="text" id="ZipCode" asp-for="ZipCode" name="zipcode" class="form-control" value=@Context.User.Claims.ElementAt(6).Value>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-9 text-secondary">
                                        <input type="submit" value="Save Changes" /><a asp-action="Edit" asp-controller="Users"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </form>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/savechanges.js" asp-append-version="true"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
