
@model IEnumerable<MatikoWebAppProject.Models.Users>


@{ ViewData["Title"] = "Index";
    Layout = "_Layout"; }


<h1>Users</h1>
<hr>


<div class="container">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"></h1>
        <div class="row">
            <div class="col-xl-8">
                <div class="card-actions float-right">
                    <div class="dropdown show">
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Edit</a> <a class="dropdown-item" href="#">Add</a> <a class="dropdown-item" href="#"> Delete</a></div>
                    </div>
                </div>
                <h5 class="card-title mb-0"></h5>
            </div>
            <div class="card-body">
                <table class="table table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Type</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)

                        {

                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}