
@model IEnumerable<MatikoWebAppProject.Models.Users>


@{ ViewData["Title"] = "Index";
    Layout = "_Layout"; }

<div class="titles" style="margin-top: 20px; text-align: center; margin-bottom: 30px;">
    <h2 style=" letter-spacing: 6px; font-size: 2.6em; color: #E3BD9D;">USERS</h2>
</div>
<hr class="solid" style="border-top: 3px solid #E3BD9D; color: #E3BD9D;">


<div class="container">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3"></h1>
        <div class="row">
            <div class="col-xl-8">
                <div class="card-actions float-right">
                    <div class="dropdown show">
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Edit</a> <a class="dropdown-item" href="#">Add</a> <a class="dropdown-item" href="#"> Delete</a></div>
                    </div>
                </div>
                <h5 class="card-title mb-0"></h5>
            </div>
            <div class="card-body">
                <table class="table table-striped" style="width: 100%;">
                    <thead>
                        <tr>
                            <th class="fw-bold" style="color: #E3BD9D;">Email</th>
                            <th class="fw-bold" style="color: #E3BD9D;">First Name</th>
                            <th class="fw-bold" style="color: #E3BD9D;">Last Name</th>
                            <th class="fw-bold" style="color: #E3BD9D;">Type</th>
                            <th class="fw-bold" style="color: #E3BD9D;">Address</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)

                        {

                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Type)</td>
                            <td>@Html.DisplayFor(modelItem => item.Address)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Email">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Email">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Email">Delete</a>
                                </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}